.l-footer {
<<<<<<< HEAD
=======
  height: 250px;
>>>>>>> 87fefedda3330ba011fcac45dfd806f850d1afc1
  background-color: $gray-bg;
  background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(241,241,241,0) 100%);
  background-image: url('../images/skyline_fullwidth_no_logo.svg');
  background-repeat: repeat-x;
  background-position: bottom center;
<<<<<<< HEAD
  background-size: 420%;

  @media #{$medium-up} {
    height: 250px;
    margin-top: 60px;
    background-size: 150%;
=======
  background-size: 150%;
  @media #{$medium-up} {
    margin-top: 60px;
>>>>>>> 87fefedda3330ba011fcac45dfd806f850d1afc1
  }

  #footer__logo {
    padding-bottom: 10px;
    width: 150px;
  }

  #footer__sponsors-badge {
    padding-top: 18px;
  }

  @media #{$medium-down} {
    padding-bottom: 50px;

    ul {
      display: none;
    }
  }

}

.depot-footer-menu ul li a, .l-footer p {
  font-size: 0.85rem;
}

.depot-footer-menu {
  color: $text-color;

  @media #{$small-only} {
    width: 50%;
    float: left;
    margin-bottom: 20px;
  }

  h6 {
    text-transform: uppercase;
    font-weight: 100;
  }

  ul.menu {
    list-style: none;
    margin: 0;

    li {

      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active-trail a {
        font-weight: bold;
      }
    }

    @media #{$medium-down} {
      display: block;
      width: 100%;
      float: none;
      margin: 0;

      li {
        float: none;
        padding: 0;
        padding-bottom: 5px;

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}
