button, .button {
}

.logged-in #button-group-logged-out {
  display: none;
}

.not-logged-in #button-group-logged-in {
  display: none;
}

.button-group li.active a {
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 5);
  }
}

.button.ci {
  background-color: $primary-color;
}

.button.ci:hover {
  background-color: darken($primary-color, 5);
}