button, .button {
  cursor: pointer;

  a {
    cursor: pointer;
    color: inherit;
  }

  &.white {
    background-color: $white;
    border-color: $white;
    color: $primary-color;

    &:hover {
      background-color: $gray-1;
      border-color: $gray-1;
      color: $gray-2;
    }
  }

  &.ci {
    background-color: $primary-color;
    
    &:hover {
      background-color: darken($primary-color, 5);
    }
  }
}

.logged-in #button-group-logged-out {
  display: none;
}

.not-logged-in #button-group-logged-in {
  display: none;
}

.button-group li.active a {
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 5);
  }
}