
.page {

  main#main-content {
    margin-top: 15px;
    min-height: calc(100vh - 170px);

    @media only screen and (min-width: 40.063em) {
      max-width: 970px;
      margin: 30px auto 0;
    }

    .main {
      background-color: #fff;
      box-shadow: 0 0 6px rgba(102, 102, 102, 0.2);

      @media only screen and (min-width: 40.063em) {
        padding: 2rem;
      }
    }
  }

  .breadcrumbs {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $silver;
  }
}