
.page {
  overflow-x: hidden;
  width: 100%;
  @media #{$small-only}{
    padding: 0 9px;
  }

  main#main-content {
    margin-top: 15px;
    min-height: calc(100vh - 150px);
    margin-bottom: 10px; // For full shadow

    .main {
      background-color: #fff;
      box-shadow: $box-shadow;
      font-weight: normal;
      padding: 1rem 0;

      @media #{$medium-up} {
        padding: 1rem 1.5rem;
      }
    }
  }

  .breadcrumbs {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $silver;

    @media #{$medium-down} {
      display: none;
    }
  }
}

body.node-type-artikel {
<<<<<<< HEAD
=======
  $social-button-size: 3.125rem;
  $social-button-border-width: 0.125rem;
  $social-button-font-size: 1.5625rem;
  $social-button-line-height: 2em;
  $social-button-border-radius: 1.6875rem;
  $social-button-transition: all 0.5s ease;
  $social-button-margin: 0.75rem;

  // Source: https://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
  $social-brand-facebook: #3b5998;
  $social-brand-twitter: #55acee;
  $social-brand-google-plus: #dd4b39;
  $social-brand-diaspora: #6b6b6b;

  @mixin social-button($brand-color) {
    background: $brand-color;

    &:hover,
    &:focus {
      color: $brand-color;
      background: $white;
      border-color: $brand-color;
    }
  }
>>>>>>> 87fefedda3330ba011fcac45dfd806f850d1afc1

  #page-title {
    text-align: center;
  }

  .article-meta {
    color: $gray-2;
    text-align: center;
  }

  .article-container {
    margin-top: 1.5rem;

    .neat-article-author {
      width: 100%;
      display: flex;
      align-items: flex-start;
      border-top: 1px solid $gray-bg;
      padding-top: 18px;
      border-bottom: 1px solid $gray-bg;
      margin-bottom: 18px;

      .article-header-avatar {
        padding-right: 0.5rem;
        padding-left: 0.5rem;

        .header-avatar {
          width: rem-calc(60);
          height: rem-calc(60);
          border-radius: 50%;
        }
      }

      .article-header-author {
        flex: 1 0 0;

        .author-name {
          color: $black;
          margin-bottom: 0;
        }

        .author-description,
        .article-date-read {
          color: $gray-2;
          margin-bottom: 0;
          font-size: 0.85em;
        }
      }
    }

    .neat-article-title {
      margin-top: 1rem;

      .article-title {
        color: $black;
        font-weight: 600;
      }
    }

    .article-image-wrapper {
      margin-top: 1.5rem;
      margin-left: -1.5rem;
      margin-right: -1.5rem;

      .field-label {
        display: none;
      }

      .field-name-field-bild {

        img {
          width: 100%;
        }

      /* @include breakpoint(medium only) {
          height: 65vh;
        }

        @include breakpoint(small only) {
          height: 45vh;
        }*/
      }
    }

<<<<<<< HEAD
    #artikel-comments #edit-submit {
      margin-top: 85px;
    }

=======
>>>>>>> 87fefedda3330ba011fcac45dfd806f850d1afc1
    .article-content {
      margin-top: 2rem;

      .article-social {
<<<<<<< HEAD
    
=======
        .rounded-social-buttons {
          text-align: center;

          .social-button {
            display: block;
            position: relative;
            cursor: pointer;
            width: $social-button-size;
            height: $social-button-size;
            border: $social-button-border-width solid transparent;
            padding: 0;
            text-decoration: none;
            text-align: center;
            color: $white;
            font-size: $social-button-font-size;
            font-weight: normal;
            line-height: $social-button-line-height;
            border-radius: $social-button-border-radius;
            transition: $social-button-transition;
            margin-right: $social-button-margin;
            margin-bottom: $social-button-margin;

            &:hover,
            &:focus {
              transform: rotate(360deg);
            }

            &.facebook {
              @include social-button($social-brand-facebook)
            }

            &.twitter {
              @include social-button($social-brand-twitter)
            }

            &.google-plus {
              @include social-button($social-brand-google-plus)
            }

            &.diaspora {
              @include social-button($social-brand-diaspora)
            }
          }
        }
>>>>>>> 87fefedda3330ba011fcac45dfd806f850d1afc1
      }

      .article-content {
        color: $black;
      }
    }
  }
}

#artikel-comments {
  #edit-comment-body-und-0-format .fieldset-wrapper {
    display: none;
  }
}

<<<<<<< HEAD
$social-button-size: 3.125rem;
$social-button-border-width: 0.125rem;
$social-button-font-size: 1.5625rem;
$social-button-line-height: 2em;
$social-button-border-radius: 1.6875rem;
$social-button-transition: all 0.5s ease;
$social-button-margin: 0.75rem;

// Source: https://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
$social-brand-facebook: #3b5998;
$social-brand-twitter: #55acee;
$social-brand-google-plus: #dd4b39;
$social-brand-diaspora: #6b6b6b;
$social-brand-instagram: #8a3ab9;

@mixin social-button($brand-color) {
  background: $brand-color;

  &:hover,
  &:focus {
    color: $brand-color;
    background: $white;
    border-color: $brand-color;
  }
}

.rounded-social-buttons {
  text-align: center;

  .social-button {
    display: block;
    position: relative;
    cursor: pointer;
    width: $social-button-size;
    height: $social-button-size;
    border: $social-button-border-width solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: $white;
    font-size: $social-button-font-size;
    font-weight: normal;
    line-height: $social-button-line-height;
    border-radius: $social-button-border-radius;
    transition: $social-button-transition;
    margin-right: $social-button-margin;
    margin-bottom: $social-button-margin;

    @media #{$small-only} {
      float: left;
    }

    &:hover,
    &:focus {
      transform: rotate(360deg);
    }

    &.facebook {
      @include social-button($social-brand-facebook)
    }

    &.twitter {
      @include social-button($social-brand-twitter)
    }

    &.google-plus {
      @include social-button($social-brand-google-plus)
    }

    &.diaspora {
      @include social-button($social-brand-diaspora)
    }

    &.instagram {
      @include social-button($social-brand-instagram)
    }
  }
}

=======
>>>>>>> 87fefedda3330ba011fcac45dfd806f850d1afc1
body.node-type-wiki {
  // e.g. "so funktionierts" & "FAQ"
  background-color: #fff;

  .breadcrumbs {
    display: none;
  }

  #wiki-header {
    height: 280px;
    background-color: $gray-bg;
    background-image: url('../images/skyline_fullwidth_no_logo.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: 150%;
    text-align: center;
  }

  #main-content {

    #wiki-inhaltsverzeichnis {
      ul {
        list-style: none;
        margin-left: 0;

        li {
          border-left: 1px solid $gray-1;
          padding-bottom: 18px;
          padding-left: 16px;
        }
      }
    }

    #wiki-content {
      h3 {
        padding-bottom: 15px;
        
        a {
          color: inherit;
        }
      }
    }
  }
<<<<<<< HEAD
}

body.node-type-regionalpartner {
  background-color: #fff;

  .breadcrumbs {
    display: none;
  }

  #rp-profile-header {
    height: 280px;
    background-color: $gray-bg;
    background-image: url('../images/skyline_fullwidth_no_logo.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: 150%;
    text-align: center;
  }

  .article-social {
    padding-top: 10px;
  }

  #main-content {
    margin-top: -170px;
    box-shadow: 0 0px 4px #80808033;

    #rp-profile-logo {
      margin-top: -168px;
      background: #ffffffe6;
      position: absolute;
      margin-left: 1.5rem;
      padding: 9px;
      box-shadow: 0 0px 4px #14141466;

      img {
        max-width: 170px;
        width: 100%;
      }
    }

    #rp-profile-teaser-bild {
      img {
        min-height: 200px; // Required for small display
      }
    }

    #rp-profile-slogan {
      width:100%;
      background:#f1f1f1;
      text-align: center;
      padding: 1rem 0;
      margin-bottom: 24px;
      font-style: italic;

      h3 {
        color: #4b4b4b;
      }
    }

    #rp-profile-quicknav {
      ul {
        list-style: none;
        margin-left: 0;

        li {
          border-left: 1px solid $gray-1;
          padding-bottom: 18px;
          padding-left: 16px;
        }
      }
    }

    #rp-profile-content {
      h3 {
        padding-bottom: 15px;
        max-width: 62%;
        margin: 0 auto;
        
        a {
          color: inherit;
        }
      }
    }
  }
=======
>>>>>>> 87fefedda3330ba011fcac45dfd806f850d1afc1
}