.top-bar {
  border-bottom: #d8d8d8;
  box-shadow: 0 0 6px rgba(64, 64, 64, 0.5);

  #top-bar-logo {

    @media #{$medium-up} {
      width: 100px;
      margin: 16px 40px;
    }

    @media #{$medium-down} {
      width: 100px;
      margin: 16px 12px;
    }
  }

  .toggle-topbar.menu-icon {
    a {
      span:before {
        content: "";
        position: absolute;
        display: block;
        background-color: #888888;
        top: 25%;
        right: (($topbar-height / 3) * 1.35);
        width: 0;
        height: 16px;
        transition: width 50ms ease-in-out 50ms, transform 100ms ease-in-out;
      }
      span:after {
        transition: height 100ms ease-in-out 100ms, box-shadow 100ms ease-in-out 120ms, transform 100ms ease-in-out;
      }
    }
  }

  .top-bar-section {

    ul li {
      background-color: #fff;

      & > a, & > select {
        padding-left: 1rem;
      }
    }
  }

  .menu {

    @media #{$medium-up} {
      float: right;
    }

    .makeMeCd a {

      @media #{$medium-up} {
        background-color: #e03b00 !important;
        color: #fff;
      }

      @media #{$medium-down} {
      }
    }
  }

  &.expanded {

    .toggle-topbar.menu-icon {
        a {

          span {

            &:before {
              width: 2px;
              transform: rotate(45deg);
              transition: width 200ms ease-in-out, transform 300ms ease-in-out;
            }

            &:after {
              box-shadow: none;
              background-color: #888888;
              height: 2px;
              margin-top: -2px;
              transform: rotate(45deg);
              transition: height 200ms ease-in-out, transform 300ms ease-in-out;
            }
          }


        }
    }
  }
}
