header.l-header {
  @media #{$small-only} {
    border-bottom: 1px solid #fff
  }
}

.top-bar {
  
  #top-bar-logo {

    @media #{$medium-up} {
      width: 110px;
      margin: 16px 40px;
    }

    @media #{$medium-down} {
      width: 110px;
      margin: 16px 12px;
    }
  }

  .toggle-topbar.menu-icon {
    a {
      span:before {
        content: "";
        position: absolute;
        display: block;
        background-color: #888888;
        top: 25%;
        right: (($topbar-height / 3) * 1.35);
        width: 0;
        height: 16px;
        transition: width 50ms ease-in-out 50ms, transform 100ms ease-in-out;
      }
      span:after {
        transition: height 100ms ease-in-out 100ms, box-shadow 100ms ease-in-out 120ms, transform 100ms ease-in-out;
      }
    }
  }

  .top-bar-section {

    ul li {
      background: $gray-bg;

      & > a, & > select {
        color: $secondary-color;
        padding-left: 1rem;
      }
    }
  }

  .menu {

    li.leaf.active-trail {
      background: $topbar-link-bg-hover;

      a {
        color: $topbar-link-color-hover;
      }
    }

    .user-menu-user-link {

      &:before {
        content : '';
        position: absolute;
        background: url('../images/avatar.png');
        width: 36px;
        height: 36px;
        margin-left: 116px;
        margin-top: 14px;
        @media #{$small-only} {
          margin-top: 5px;
        }
      }

      a {
        padding-right: 70px !important;
      }
    }

    @media #{$medium-up} {
      float: right;
    }

    .makeMeCd a {

      @media #{$medium-up} {
        //background-color: #e03b00 !important;
        //color: #fff;
      }

      @media #{$medium-down} {
      }
    }
  }

  &.expanded {

    .toggle-topbar.menu-icon {
        a {

          span {

            &:before {
              width: 2px;
              transform: rotate(45deg);
              transition: width 200ms ease-in-out, transform 300ms ease-in-out;
            }

            &:after {
              box-shadow: none;
              background-color: #888888;
              height: 2px;
              margin-top: -2px;
              transform: rotate(45deg);
              transition: height 200ms ease-in-out, transform 300ms ease-in-out;
            }
          }


        }
    }
  }
}

// Change region section
#main-menu__region-selected {
  &.active-trail {
    background: $topbar-link-bg-hover;

    a {
      color: $topbar-link-color-hover;
    }
  }
  a {

  }
}

#depot-region-select {
  position: absolute;
  height: 300px;
  width: 600px;
  font-family: $topbar-link-font-family;
  box-shadow: $box-shadow;
  top: 60px;
  background-color: #fff;
  left: 10%;
  overflow: hidden;
  z-index: 9999;
  display: none;

  &__header {
    border-bottom: 1px solid $gray-bg;
    padding: 0.8rem 0.9375rem 0.4rem 0.9375rem;
<<<<<<< HEAD

    h5 a {
      font-size: 0.8rem;
      text-decoration: underline;
      padding-left: 4px;
    }
=======
    margin-bottom: 8px;
>>>>>>> 87fefedda3330ba011fcac45dfd806f850d1afc1
  }

  &__list {
    max-height: 100%;
    overflow-y: scroll;

    ul {

      li {
        width: 100%;
        background-color: #fff;
        font-family: $topbar-link-font-family;

        a {
          line-height: 2.5rem;
        }

        &.active, li:hover {
          background-color: $body-bg;
        }
      }
    }
  }

  &__map {
<<<<<<< HEAD
    #depot-regions-map {
      height: 245px;
    }
  }
}

@media #{$medium-up} {
  body.logged-in .user-menu-user-link {
    background-color: $primary-color !important;
    border-radius: 0 0 0 45px;
    padding-left: 10px; 

    a {
      color: $gray-bg !important;
    }

    &:hover {
      background-color: darken($primary-color, 5) !important;

      a {
        color: $gray-bg !important;
        background-color: transparent !important;
      }
    }

    &:before {
      background-image: url('../images/avatar_logged_in.png') !important;
    }
=======
>>>>>>> 87fefedda3330ba011fcac45dfd806f850d1afc1

  }
}