.top-bar {
  border-bottom: #d8d8d8;
  box-shadow: 0 0 6px rgba(64, 64, 64, 0.5);

  #top-bar-logo {

    @media only screen and (min-width: 40.063em) {
      width: 100px;
      margin: 16px 40px;
    }

    @media only screen and (max-width: 40.063em) {
      width: 100px;
      margin: 16px 12px;
    }
  }

  .toggle-topbar.menu-icon {

    @media only screen and (max-width: 40.063em) {
      a {
        color: #888888 !important;

        span:after {
          box-shadow: 0 0 0 1px #888888, 0 7px 0 1px #888888, 0 14px 0 1px #888888;
        }
      }
    }
  }

  .menu {

    @media only screen and (min-width: 40.063em) {
      float: right;
    }

    .makeMeCd a {

      @media only screen and (min-width: 40.063em) {
        background-color: #e03b00 !important;
        color: #fff;
      }

      @media only screen and (max-width: 40.063em) {
        width: 100px;
        margin: 16px 12px;
      }
    }
  }
}

.top-bar-section ul li {
  background-color: #fff;
}
