.section-ressourcen.views-page {

  #page-title {
    padding-bottom: 10px;

    @media #{$medium-up} {
      display: none;
    }
  }

  #main-content .row {
    position: relative;
  }

  .callout {
    border: 1px solid #b9b9b9;
    padding: 14px;
    margin-bottom: 10px;
  }

  .follow-box {

    @media #{$medium-up} {
      position: absolute;
      width: 360px;
      transition: top 10ms;
    }

    .panel {
      background-color: #fff;

      h4, h5 {
        font-weight: bold;
      } 
    }

    &.follow {
      position: fixed;
      top: 10px;
      z-index: 100;
    }
    
    @keyframes fade-out-top {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        top: -30px
      }
    }

    &.fade-out {
      animation-name: fade-out-top;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }

  .orbit-container {

    .orbit-bullets-container {
      display: none;
    }

    .depot-ressource-detail-slider li:first-child img {
      min-height: 300px;
      // Copied from #depot-resources-map
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: smartLoader;
      animation-timing-function: linear;
      background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
      background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);          
    }
  }

  .ressource-title {
    margin-top: 1rem;
  }

  @keyframes scaleIn {
    0% {
      opacity: 0;
      transform: scale(0.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  #res-detail-meta-info {

    ul {
      list-style: none;
      margin: 0;

      li {
        text-align: center;
        padding: 0 0.2rem;
        animation-name: scaleIn;
        animation-duration: 0.5s;

        span {
          line-height: 1.1rem;
        }

        .icon-badge {
          float: none;
          margin: 0 auto;
        }
      }
    }
  }

  li#open-resource-map {

    .icon-badge {
      cursor: pointer;
      background-image: url('../images/map_badge_preview.png');
      background-position: center center;
    }
  }
}

  #res-detail-desc {
    padding: 1.5rem;
    background-color: #fff;
  }

  .accordion {

    .accordion-navigation {

      .row {
        margin: 0;
      }
    }
  }