
.page-user {

  main#main-content {

    @media only screen and (min-width: 40.063em) {
      max-width: 700px;
      margin: 0 auto;
    }

    #page-title {
      font-size: 1.5rem;
      padding: .5rem .2rem .4rem;
    }

    .main {

      @media only screen and (min-width: 40.063em) {
        padding: 1rem;
      }

      .button-group {
        text-align: center;
      }
    }
  }

  form#user-login, form#user-pass, form#user-register-form {
    padding: 0 1rem 1rem;

    @include clearfix;

    .medium-6 {

      @media only screen and (min-width: 40.063em) {
        width: 100%;
      }
    }

    .form-item {

      input[type='text'], input[type='password'], input[type='email'], select, textarea {

        @media only screen and (min-width: 40.063em) {
          width: 75%;
        }
      }

      &.form-type-checkbox {

        .description {
          margin-top: .2rem;
        }
      }
    }

    #edit-submit {

      @media only screen and (min-width: 40.063em) {
        width: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        float: right;
      }
    }
  }

}
