// Drupal comes with CSS quirks (Drupalisms). Unravel or override them here.

$small-down: "#{$screen} and (max-width: #{upper-bound($small-range)})";
$medium-down: "#{$screen} and (max-width:#{upper-bound($medium-range)})";
$large-down: "#{$screen} and (max-width:#{upper-bound($large-range)})";
$xlarge-down: "#{$screen} and (max-width:#{upper-bound($xlarge-range)})";
$xxlarge-down: "#{$screen} and (max-width:#{lower-bound($xxlarge-range)})";

// Make the "sticky" Top Bar play nice with the "fixed" Admin Menu.
.admin-menu .fixed {
  top: emCalc(29px);
}

// Remove the bottom padding on status messages when displayed inside a Zurb
// Foundation Reveal modal.
#status-messages.reveal-modal {
  .alert-box {
    margin-bottom: 0;
  }
}

// Fix Zurb Foundation Reveal Modal z-index and make it play nice with dropdown
// menus, lightboxes, etc.
.reveal-modal {
  z-index: 999;
}

// Override Drupal Core pager styles. This is necessary because we need to keep
// the .pager class on pagers for Views AJAX to work. If you are disabling
// Drupal Core CSS you can safely comment the following lines.
.item-list .pager {
  clear: none;
}

.item-list .pager li {
  padding: 0;
}

// Allow drupal inline elements to mixin Foundation inline properties
.inline {
  @include inline-list;
}

/* Animated throbber
   TODO: Build as :after, animate via transform:rotate() */
html.js input.form-autocomplete {
  transition: 0.25s background-image;
}

html.js input.throbbing {
  background-image: url('/sites/all/themes/depot_theme/images/favicon.png');
  background-size: 20px;
}

/* 20% darker by default */
.l-messages {
  position: absolute;
  left: -50%;
  right: -50%;
}

.orbit-bullets {
  margin-bottom: 5px;
}

.fieldset-wrapper .form-type-checkbox .option {
  display: none;
}

.form-item-pass-pass1.password-parent {
  width: auto;
}

.form-item-pass-pass2 {
  padding-top: 36px;
}

.views-label {
  float: left;
}

#depot-global-select-kategorie {

  @media only screen and (min-width: 40.063em) {
    margin: 13px 0 0 4px;
  }
}

@media only screen and (max-width: 40.063em) {
  #depot-global-select-kategorie {
    margin-bottom: 5px;
  }
  #views-exposed-form-ressourcen-bersicht-page input, #views-exposed-form-ressourcen-bersicht-page select {
    width: 100%;
  }
  #availability_calendar_btn {
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
  }
}

.user-badge {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding-top: 9px;
  font-size: 0.8em;
  background-color: #e03b00;
  color: #fff;
  text-align: center;
}

.user-badge.two-digits {
  padding-left: 10px;
}

.page-user .breadcrumbs {
  display: none;
}

.alert-box {
  z-index: 999;
}

#res-detail-desc {
  padding-top: 60px;
}

.accordion {
  margin-left: 0;
}

.ressource-page-button-group .fi {
  font-size: 1.3em;
  padding-right: 6px;
}

.depot-ressource-detail-slider {
  max-height: 400px;
}

.reveal-modal-bg {
  z-index: 998;
}

#verfuegbarkeitenModal {
  top: 5px !important;
}

.image-big-modal {
  text-align: center;
  padding: 5px;
  top: 40px !important;
}

.view-ressourcen-detailseite .accordion-navigation .user-badge {
  margin-left: 6px;
}

.member-since {
  font-size: 0.8em;
  color: grey;
}

.button.margin-top-ten {
  margin-top: 25px;
}

.section-user .field-label {
  float: left;
}

#booking-status {
  float: right;
}

#wannabe-hero {
  display: none;
  background: url('/sites/all/themes/depot_theme/images/hero_sandwich.jpg') repeat-x;
  height: 232px;
  opacity: 0.7;
  width: 100%;
  position: absolute;
  top: 62px;
}

.front #wannabe-hero {
  //display: block !important;
}