@import "../../zurb_foundation/scss/foundation/functions";

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// Depot theme specific variables

$primary-color: #e13b01;
$secondary-color: #4483a9;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$body-bg: #f0eeec;

$button-function-factor: -20% !default;

$button-bg-color: $secondary-color;
$button-border-color: $secondary-color;
$button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);

$topbar-bg: #fff;
$topbar-height: rem-calc(65);
$topbar-link-color: #333333;
$topbar-link-color-hover: #000;
$topbar-link-bg: #fff;
$topbar-link-bg-hover: #d8d8d8;
$row-width: rem-calc(1120);

// We use these to control header font sizes
 $h1-font-size: rem-calc(28);
 $h2-font-size: rem-calc(24);
 $h3-font-size: rem-calc(20);
 $h4-font-size: rem-calc(19);
 $h5-font-size: rem-calc(17);
 $h6-font-size: 1rem;