@import "../../zurb_foundation/scss/foundation/functions";

// Depot theme specific variables

$body-bg: #f0eeec;

$topbar-bg: #fff;
$topbar-height: rem-calc(65);
$topbar-link-color: #333333;
$topbar-link-color-hover: #000;
$topbar-link-bg: #fff;
$topbar-link-bg-hover: #d8d8d8;
$row-width: rem-calc(1120);